```
## Compilação
bin/
obj/
[Bb]uild/
[Ll]og/

## Usuário específico
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## IDEs
.vscode/
.idea/

## Sistema
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## Cache do Visual Studio
.vs/
*.dbmdl
*.bak
*.backup
*.log

## Configurações de usuário
*.userprefs

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Arquivos de publicação
*.publishsettings
*.pubxml
*.pubxml.user

## pacotes NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
!packages/build/
*.nuget.props
*.nuget.targets

## Logs
*.log
*.tlog

## Testes
TestResult*/
[Bb]enchmarkDotNet.Artifacts/
*.coverage
*.coveragexml
*.trx

## Ferramentas
*.pidb
*.svclog
*.scc

## DotNet
project.lock.json
project.fragment.lock.json
artifacts/

## Configuração local
appsettings.Development.json
secrets.json

## Docker
**/docker-compose.override.yml

## Outros
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
```
